@font-face {
    font-family: 'Neue Montreal';
    src: url('../fonts/neue-montreal/NeueMontreal-Medium.woff2') format('woff2'),
        url('../fonts/neue-montreal/NeueMontreal-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('../fonts/neue-montreal/NeueMontreal-Italic.woff2') format('woff2'),
        url('../fonts/neue-montreal/NeueMontreal-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('../fonts/neue-montreal/NeueMontreal-Bold.woff2') format('woff2'),
        url('../fonts/neue-montreal/NeueMontreal-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('../fonts/neue-montreal/NeueMontreal-MediumItalic.woff2') format('woff2'),
        url('../fonts/neue-montreal/NeueMontreal-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('../fonts/neue-montreal/NeueMontreal-Regular.woff2') format('woff2'),
        url('../fonts/neue-montreal/NeueMontreal-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('../fonts/neue-montreal/NeueMontreal-BoldItalic.woff2') format('woff2'),
        url('../fonts/neue-montreal/NeueMontreal-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('../fonts/neue-montreal/NeueMontreal-LightItalic.woff2') format('woff2'),
        url('../fonts/neue-montreal/NeueMontreal-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('../fonts/neue-montreal/NeueMontreal-Light.woff2') format('woff2'),
        url('../fonts/neue-montreal/NeueMontreal-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lastik';
    src: url('../fonts/Lastik/Lastik-Regular.woff2') format('woff2'),
        url('../fonts/Lastik/Lastik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lastik';
    src: url('../fonts/Lastik/Lastik-Regular.woff2') format('woff2'),
        url('../fonts/Lastik/Lastik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* ───────────────────────────────── */
/*              General              */
/* ───────────────────────────────── */

* {
    max-width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Neue Montreal;
}

:root {
    --primary-color: #111111;
    --secondary-color: #cccccc;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    overflow-x: hidden;
    background-color: var(--primary-color);
}

section {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

.underline {
    text-decoration: none;
}

.underline:hover {
    text-decoration: underline;
}


.lastik {
    font-family: Lastik;
}

.presentation {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    margin: 0 auto;
}

.presentation__title {
    font-size: 16rem;
    font-weight: bold;
}

.presentation__subtitle {
    font-style: italic;
    font-size: 4rem;
}

.presentation__topsubtitle {
    font-size: 4rem;
    transform: translateX(-75%);
}

.services__slide {
    height: 100vh;
    width: 100%;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
}

.page3 {
    height: 100vh;
    width: 100%;
    background-color: var(--primary-color);
}

.services__slide h1 {
    font-size: 30vw;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--primary-color);
}

@media (max-width: 768px) {

    body {
        overflow-x: hidden;
        background-color: #111111;
    }

    .presentation {
        gap: 1rem;
        overflow: hidden;
    }

    .presentation__title {
        font-size: 8rem;
    }

    .presentation__subtitle {
        font-size: 3rem;
    }

    .presentation__topsubtitle {
        font-size: 3rem;
        transform: translateX(-33%);
    }

    .services__slide {
        height: 50vh;
        overflow: hidden;
    }
}

@media (max-width: 480px) {

    body {
        overflow-x: hidden;
    }

    .presentation {
        gap: 1rem;
        overflow: hidden;
    }

    .presentation__title {
        font-size: 4rem;
    }

    .presentation__subtitle {
        font-size: 2rem;
    }

    .presentation__topsubtitle {
        font-size: 2rem;
        transform: translateX(-20%);
    }

    .services__slide {
        justify-content:center;
        overflow: hidden;
        height: 33vh;
    }

    
}

.qualityoverquantity {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--primary-color);
}

/* Container for applying perspective */
.perspective-container {
    perspective: 1000px; /* Creates a realistic 3D effect */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.circle {
    stroke: var(--secondary-color);
    stroke-width: 0.965462;
    fill: var(--secondary-color);
  }
  

.circle {
    width: 60%;
    height: 40%;
    border-radius: 50%;
    transform-origin: center;
    transform: rotateX(65deg);
    border: 0.5rem solid var(--secondary-color);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Text inside the circle */
.text {
    position: absolute;
    font-size: 7rem;
    color: var(--secondary-color);
    font-weight: bold;
    text-transform: uppercase;
    transform: rotateX(65deg);
    transform-origin: center;
    pointer-events: none;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .circle {
        width: 80%;
        height: 50%; 
        border: 0.4rem solid var(--secondary-color); 
    }
    .text {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {

    .circle {
        width: 90%;
        height: 40%;
        border: 0.3rem solid var(--secondary-color);
    }
    .text {
        font-size: 3rem;
        transform: rotateX(50deg);
    }
}

.qualityoverquantity {
    position: relative;
}

.quality {
    width: 100%;
    height: 83%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
}

.quality__text {
    display: flex;
    background-color: var(--primary-color);
    border: 0.5rem solid var(--secondary-color);
    padding: 8rem 4rem;
    border-radius: 1rem;
    font-size: 6rem;
    font-weight: bold;
    color: var(--secondary-color);
}


.quantity {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

svg {
    width: 50%;
    height: auto;
    stroke: var(--secondary-color);
    color: var(--secondary-color);
}

.quantity__text {
    fill: var(--secondary-color);
    stroke: none;
}

.home__services {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    padding: 0vh 0 13vh 0;
    background-color: var(--primary-color);
}

.home__services--title {
    color: var(--secondary-color);
    text-align: center;
    font-size: 11rem;
    padding: 20vh;
}

.home__services--container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    background-color: var(--primary-color);
}

.services__service {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    padding: 3rem;
    border: 0.2rem solid var(--secondary-color);
    border-radius: 1.5rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    box-shadow: 0 1rem 0 var(--secondary-color);
    transition: all 0.3s ease;
}

.services__service:hover {
    box-shadow: 0 0.5rem 0 var(--secondary-color);
    cursor: pointer;
}

.services__service--title {
    font-size: 3rem;
}

.services__service--description {
    font-size: 1.3rem;
}

.services__service--learn {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 1.3rem;
    color: var(--secondary-color);
}


.home__whataretheysaying {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.home__reviews {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    
}

.home__reviews--title {
    width: 66%;
    font-size: 8rem;
    text-align: center;
}

.reviews__container {
    
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.reviews__review {
    display: flex;
    width: 70%;
    border: 1rem solid var(--secondary-color);
    border-radius: 0.3rem;
    padding: 2rem;
}